//Microsoft Visual C++ で生成されたリソース スクリプトです。
//
#include <windows.h>
#include "resource.h"

/////////////////////////////////////////////////////////////////////////////
//
// アイコン
//

// アプリケーションのアイコンをすべてのシステム上で維持するために、最も小さい
// ID 値のアイコンが最初に配置されます。

IDI_MAIN        ICON         "mouse.ico"
IDI_MAIN_STOP	ICON		 "mouse_stop.ico"

LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
STRINGTABLE
BEGIN
   IDS_DUPLICATE_BOOT_FORMAT "Already executing %s!"
   IDS_IDM_EXIT "Quit"
END

LANGUAGE LANG_JAPANESE, SUBLANG_DEFAULT
STRINGTABLE
BEGIN
   IDS_DUPLICATE_BOOT_FORMAT "%sがすでに起動されています"
   IDS_IDM_EXIT "終了"
END